<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apostoliclife.micboard</string>
	<key>ProgramArguments</key>
	<array>
		<string>__RUN_MICBOARD_SCRIPT__</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__INSTALL_DIR__</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__LOG_DIR__/micboard.launchd.log</string>
	<key>StandardErrorPath</key>
	<string>__LOG_DIR__/micboard.launchd.error.log</string>
</dict>
</plist>